table {
    border-collapse: collapse;
}
tr {
    height: 25px;
}
th {
	width: 300px;
	float: left;
	background-color: rgb(239,239,255);
}
td {
    border:1px solid black;
    width: 130px;
    height:50px;
    background-color: rgb(239,239,255);
}
.td{
	width:250px;
}
input{
	width: 400px;
	height:20px;
	margin-left:40px;
}